/* Font */
@font-face {
  font-family: "MARTy";
  src: url("MARTyGX.ttf");
  font-variation-settings: 'wght'0 1000, 'CNTR'0 1000, 'slnt'0 1000;
}

html, header, button, input, h1, a {
  font-family: system-ui;
  font-size: 2vh;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  line-height: .6em;
}

footer, button, input, .hidden {
  font-weight: 200;
}

textarea, p {
  font-family: "MARTy";
  font-variation-settings: 'wght'500, 'CNTR'500, 'slnt'0;
  font-size: 5rem;
  line-height: 1em;
}

sup {
  font-size: .7em;
  font-weight: 600;
  vertical-align: super;
}

/* Font color */
html, header, h1, a, button, input, h1:hover .hidden, footer:hover .hidden {
  color: black;
}

button:hover, input:hover, .hidden {
  color: white;
}

textarea, p {
  color: black;
}

/* Background color */
button, input {
  background: white;
}

button:hover, input:hover {
  background: black;
}

/* Width */
header, main {
  width: 90%;
}

textarea {
  width: 100%;
}

/* Height */
header {
  height: 1.4em;
}

/* Position */
input {
  position: fixed;
  bottom: 2em;
}

h1 {
  float: left;
}

#collection {
  float: right;
}

/* Margin */
header, main {
  margin: 3em auto 2em;
}

h1, textarea {
  margin: 0;
}

p {
  margin: 0 0 1em;
}

/* Padding */
h1 {
  padding: .25em 0 0;
}

button, input {
  padding: .2em .75em .3em;
}

textarea {
  padding: 0;
}

/* Border */
button, input {
  border: 1px solid black;
  border-radius: 1em;
}

textarea {
  border: none;
}

/* Outline */
button, input, textarea {
  outline: none;
}

/* Button */
button, input {
  cursor: pointer;
}

/* Textarea */
textarea {
  resize: none;
  box-sizing: border-box;
}

/* Transition */
button:hover, input:hover {
  transition: background 500ms;
}

h1:hover .hidden, a:hover .hidden {
  transition: color 500ms;
}

a:hover {
  transition: color 500ms;
}
