/* Font */
@font-face {
  font-family: "Moving";
  src: url("MovingGX.ttf");
  font-variation-settings: 'wght'0 1000, 'CNTR'0 1000, 'slnt'0 1000;
}

/* Font root size */
html {
  font-size: 5vw;
}

body {
  margin: 1rem auto 0;
  padding: 0;
}

/* Width and margins */
header, main, footer {
  width: 90%;
  margin: 0 auto;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.get-font-button,
input#submit {
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

/* Font-size */
textarea, main p, input#submit, #home, #collection, .get-font-button {
  font-size: 1rem;
}

/* Font */
textarea, main p {
  font-family: "Moving";
  font-variation-settings: 'wght'500, 'CNTR'500, 'slnt'0;
}

#collection {
  float: right;
}

textarea {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: lightgrey;
}