/* Font */
@font-face {
  font-family: "Moving";
  src: url("MovingGX.ttf");
  font-variation-settings: 'wght'0 1000, 'CNTR'0 1000, 'slnt'0 1000;
}

html, header, button, input, h1, a {
  font-family: system-ui;
  font-size: 2vh;
  text-decoration: none;
}

textarea, p {
  font-family: "Moving";
  font-variation-settings: 'wght'800, 'CNTR'500, 'slnt'0;
  font-size: 7em;
  line-height: 1em;
}

textarea::placeholder {
  font-family: system-ui;
  font-weight: lighter;
  font-variation-settings: 'wght'100;
}

button, button:hover, input, input:hover {
  color: white;
}

/* Font color */
html, header, h1, a {
  color: black;
}

a:hover, h1:hover {
  color: blue;
}

textarea, p {
  color: black;
}

textarea::placeholder {
  color: lightgrey;
}

/* Background color */
button, input {
  background: black;
}

button:hover, input:hover {
  background: blue;
}

/* Width */
header, main {
  width: 90%;
}

textarea {
  width: 100%;
}

/* Height */
header {
  height: 1.4em;
}

/* Position */
input {
  position: fixed;
  bottom: 2em;
}

h1 {
  float: left;
}

#collection {
  float: right;
}

/* Margin */
header, main {
  margin: 2em auto;
}

h1, textarea {
  margin: 0;
}

p {
  margin: 0 0 1em;
}

/* Padding */
h1 {
  padding: .15em 0 0;
}

button, input {
  padding: .1em .5em .2em;
}

textarea {
  padding: 0;
}

/* Border */
button, input {
  border: none;
  border-radius: 1em;
}

textarea {
  border: none;
}

/* Outline */
button, input, textarea {
  outline: none;
}

/* Button */
button, input {
  cursor: pointer;
}

/* Textarea */
textarea {
  resize: none;
  box-sizing: border-box;
}