{% extends "layout.html" %}

{% block header %}
<a id="home" href="/"><h1>MARTy-10^9<span class="hidden">&ensp;Machine-Augmented Responsive Typography</span></h1></a>
{% endblock header %}


{% block content %}
  {% for entries in entry %}
    <p style="font-variation-settings: 'wght'{{ entries.value1 }}, 'CNTR'{{ entries.value2 }}, 'slnt'{{ entries.value3 }}">
      {{ entries.txt }}
    </p>
  {% endfor %}

  <footer>
    <a href="/">You have reached the end of the collection. <span class="hidden">Go back and add your entry.</span></a>
  </footer>
{% endblock content %}
