<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

  {% if title %}
    <title>MARTy-10<sup>9</sup> | {{ title }}</title>
  {% else %}
    <title>MARTy-10^9</title>
  {% endif %}
</head>



<body>
<header>
  {% block header %}
    <a id="home" href="/"><h1>MARTy-10<sup>9</sup><span class="hidden">&ensp;Machine-Augmented Responsive Typography</span></h1></a>
    <a id="collection" href="/collection"><button>Collection</button></a>
  {% endblock header %}
</header>

  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>
